@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 1px 1px 2px black;
      }
      .text-shadow-md {
        text-shadow: 2px 2px 4px black;
      }
      .text-shadow-lg {
        text-shadow: 4px 4px 8px black;
      }
      .text-shadow-xl {
        text-shadow: 15px 15px 30px black;
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 
}

/* Toggle Switch */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #025ed6;
}